{
  "openapi": "3.0.1",
  "info": {
    "title": "bil-download",
    "description": "",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/api/index.php": {
      "get": {
        "summary": "获取视频地址",
        "x-apifox-folder": "",
        "x-apifox-status": "released",
        "deprecated": false,
        "description": "",
        "tags": [],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": true,
            "example": "get",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": true,
            "example": "BV1Wh4y1C712",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p",
            "in": "query",
            "description": "",
            "required": true,
            "example": "5",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qn",
            "in": "query",
            "description": "",
            "required": true,
            "example": "80",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "data"
                  ],
                  "x-apifox-ignore-properties": [],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "data"
                  ]
                },
                "examples": {
                  "1": {
                    "summary": "成功示例",
                    "value": {
                      "code": 200,
                      "msg": "视频地址获取成功",
                      "data": "https://upos-hz-mirrorakam.akamaized.net/upgcxcode/73/75/1218467573/1218467573_u1-1-192.mp4?e=ig8euxZM2rNcNbRa7bdVhwdlhWujhwdVhoNvNC8BqJIzNbfq9rVEuxTEnE8L5F6VnEsSTx0vkX8fqJeYTj_lta53NCM=&uipk=5&nbs=1&deadline=1703075517&gen=playurlv2&os=akam&oi=585935869&trid=015daec2ec4745b5bd4f99c36289ccd4T&mid=516951032&platform=html5&upsig=80a4f2530cd06d247d324210528c5569&uparams=e,uipk,nbs,deadline,gen,os,oi,trid,mid,platform&hdnts=exp=1703082439~hmac=da910038c2ccc4f8a220d06965a849a47c360f8d3547503b9660c8170c440773&bvc=vod&nettype=0&bw=176881&orderid=0,1&buvid=&build=0&mobi_app=&f=T_0_0&logo=80000000"
                    }
                  }
                }
              }
            }
          }
        },
        "x-run-in-apifox": "https://apifox.com/web/project/3791518/apis/api-135327393-run",
        "security": []
      }
    },
    "/api/index.php/": {
      "get": {
        "summary": "获取后跳转",
        "x-apifox-folder": "",
        "x-apifox-status": "released",
        "deprecated": false,
        "description": "输入链接跳转，相比输入url能控制分p和画质（貌似url也能控制）",
        "tags": [],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "是获取json还是直接跳",
            "required": true,
            "example": "jump",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "bv号",
            "required": true,
            "example": "BV1Wh4y1C712",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "p",
            "in": "query",
            "description": "分p",
            "required": false,
            "example": "5",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qn",
            "in": "query",
            "description": "画质",
            "required": false,
            "example": "16",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "成功",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-ignore-properties": [],
                  "x-apifox-orders": []
                },
                "examples": {
                  "1": {
                    "summary": "成功示例",
                    "value": "直接定向到视频原地址"
                  }
                }
              }
            }
          }
        },
        "x-run-in-apifox": "https://apifox.com/web/project/3791518/apis/api-135327490-run",
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://blidown.xiaohan-kaka.gay",
      "description": "正式环境"
    }
  ]
}